<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Minecraft_Server_Control_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Minecraft_Server_Control_Panel.Properties.Settings>
            <setting name="JavaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Xmx" serializeAs="String">
                <value />
            </setting>
            <setting name="Xms" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusRefresh" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AvatarSize" serializeAs="String">
                <value>32</value>
            </setting>
        </Minecraft_Server_Control_Panel.Properties.Settings>
    </userSettings>
</configuration>
